<section class="lacsma-banner">
  <div class="banner__mask">
    <div class="banner__gradient"></div>
    <img class="banner__photo" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>
  </div>
  <div class="banner__content-wrapper">
    <div class="container-fluid px-4 px-lg-5">
      <div class="row">
        <div class="col-12 col-md-8 col-lg-6">
          <h1 class="banner__title">Concretos</h1>
          <p class="banner__description">
            <span class="punto-color">&bull;</span> Análisis y verificación de las mezclas de concreto utilizadas en la
            construcción para garantizar su calidad y cumplimiento con los estándares normativos.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
