<div class="lacsma-svc-card">

  <div class="lacsma-svc-card__img-container">
    <img
      src="" 
      alt="Muestreo de concreto fresco"
      class="js-card-img"
      width="1080"
      height="1080"
    />
  </div>

  <div class="lacsma-svc-card__body">
    <p class="lacsma-svc-card__title js-card-title">Muestreo de concreto fresco</p>
    <p class="lacsma-svc-card__text js-card-text">
      Se seleccionan muestras representativas de concreto fresco en obra
      directamente del camión mezclador. Es importante que el muestreo sea
      aleatorio y que las muestras sean suficientes para realizar todos los
      ensayos requeridos.
    </p>
  </div>

</div>