<nav class="navbar navbar-expand-lg navbar-lacsma">
  <div class="container-fluid px-4 px-lg-5">

   <a class="navbar-brand ms-0 ps-0 d-flex align-items-center gap-2" href="index.html">
  <img src="assets/img/icon/imagotipo.webp" alt="LACSMA Logo" />
  
  <span class="navbar-text-brand">
    <span class="brand-divider">|</span> 
    <span class="brand-sub">Corporativo de Calidad y Ensayos de Materiales S.A. de C.V</span>
  </span>
</a>

    <button
      class="navbar-toggler me-2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarLacsma"
      aria-controls="navbarLacsma"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarLacsma">
      <ul class="navbar-nav gap-lg-4">
        <li class="nav-item"><a class="nav-link" href="index.html">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="nosotros.html">Nosotros</a></li>
        <li class="nav-item"><a class="nav-link" href="index.html#servicios-lacsma">Servicios</a></li>
        <li class="nav-item"><a class="nav-link" href="index.html#clientes-lacsma">Proyectos</a></li>
        <li class="nav-item"><a class="nav-link" href="index.html#formulariolacsma">Cotizaciones</a></li>
      </ul>
    </div>

  </div>
</nav>
